:root {
    /* Logo Colors */
    --brand-color: #2196F3;
    --color-bg-light: #ffffff;
    --color-bg-dark: #000000;

    /* Background Colors */
    --color-hero-bg: #2F303A;
    --color-team-bg: #F5F4FA;
    --color-footer-bg: #2F303A;
    --color-border: #ECECEC;

    /* Text Colors */
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-text-primary: #212121;
    --color-text-muted: #757575;
    --color-footer-link: #ACACB0;

    /* Icons Muted Color */
    --color-icon-muted: #AFB1B8;
    --customer-color: #AFB1B8;

    /* Button Colors */
    --color-button-primary: #2196F3;
    --color-button-primary-hover: #0056b3;
    --color-portfolio-categories: #f5f4fa;

    /* Font Families */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
}

/* index.html */

/* Header */

.header__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--color-button-primary);
}

.logo-text.dark {
    color: var(--color-text-dark);
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    white-space: nowrap;
}

.nav-link.current {
    color: var(--color-button-primary);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text-primary);
    transition: color 0.3s ease-in-out;
}
.nav-link:hover {
    color: var(--color-button-primary);
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text-muted);
    transition: color 0.3s ease-in-out;
}

.contacts-link:hover {
    color: var(--color-button-primary);
}

/* Hero Section */

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/background.webp);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text-light);
}

.hero-button {
    border-radius: 4px;
    width: 216px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-text-light);
    background: var(--color-button-primary);
}

/* Features */


.features-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-primary);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-text-muted);
}

/* Activites */

.activities-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.activities-image {
    width: 370px;
    height: 294px;
}

/* Team Section */

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-muted);
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-muted);
}

.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.socials-item {
    width: 44px;
    height: 44px;
}

.socials-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.socials-icon {
    fill: #AFB1B8;
    transition: fill 0.3s ease-in-out;
}

.socials-link:hover {
    background-color: #2196F3;
}

.socials-link:hover .socials-icon {
    fill: #FFFFFF;
}

/* Customers */

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section_title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
    padding-bottom: 50px;
}

.customers_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.customers_link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--customer-color);
    border-radius: 4px;
    transition: border 0.3s ease-in-out;
}

.customers_icon {
    margin: 16px 32px;
    fill: var(--customer-color);
    transition: fill 0.3s ease-in-out;
}

.customers_link:hover {
    border: 1px solid var(--brand-color);
}

.customers_link:hover .customers_icon {
    fill: var(--brand-color);
    border: var(--brand-color);
}

/* Footer */

.footer {
    background-color: #2f303a;
    padding: 40px 0;
    color: #fff;
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    padding-right: 94px;
}

.footer__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;

    padding-bottom: 20px;
}

.logo-text.light {
    color: var(--color-text-light);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-text-light);
    padding-bottom: 9px;
}

.footer-email,
.footer-phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
}


.footer-email,
.footer-phone {
    transition: color 0.3s;
}

.footer-email:hover,
.footer-phone:hover {
    color: #2196f3;
}

.join-list {
    display: flex;
    gap: 10px;
}

.join-text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-light);

    padding-top: 7px;

    padding-bottom: 20px;
}

.join-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color 0.3s ease-in-out;
}

.join-link:hover {
    background-color: #2196f3;
}

.join-icon {
    fill: #fff;
}

/* Portfolio */

.portfolio__category {
    width: 216px;
    height: 50px;

    border-radius: 4px;
    width: 112px;
    height: 38px;
    background: var(--color-portfolio-categories);

    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.portfolio__category:hover {
    background-color: var(--brand-color);
    color: var(--color-text-light);
}

.portfolio__category.current,
.portfolio__button.current {
    background-color: var(--brand-color);
    color: var(--color-text-light);
}

.portfolio__category:hover .portfolio__button {
    color: var(--color-text-light);

}

.portfolio-item {
    width: 370px;
    height: 404px;
    border: 1px solid var(--color-border);
}

.portfolio-image {
    width: 370px;
    height: 270px;
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--color-text-primary);
}

.portfolio__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: var(--color-text-muted);
}

/* Containers */

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid tomato;
}

/* Header */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header>.container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 93px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
}

/* Hero Section */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
}


.hero-title {
    margin-bottom: 30px;
    margin-top: 0;
}

.hero-button {
    display: block;
    width: 216px;
    height: 50px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-button:hover, .hero-button:focus { 
    background-color: #188CE8; 
}


/* Features */

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.features-title {
    margin-top: 0;
    margin-bottom: 10px;
}


/* Activites */

.activities {
    padding-top: 94px;
    padding-bottom: 94px;
}

.activities>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activities-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

.activities-list {
    display: flex;
    gap: 30px;
}

.activities-item {
    margin-bottom: 0;
    position: relative;
}


/* Team Section */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--color-team-bg);
}

.team > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-item {
    background-color: var(--color-bg-light);
}

.team-title {
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.team-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-member-info {
    padding: 30px 0;
    text-align: center;
}

.team-name {
    margin-top: 30px;
    margin-bottom: 10px;

}

.team-role {
    padding-bottom: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* Footer */

.footer {
    background-color: var(--color-footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer>.container {
    display: block;
    align-items: baseline;
    gap: 70px;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-address {
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-address-text {
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}


.footer-email,
.footer-phone {
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-phone {
    margin-bottom: 0;
}

/* portfolio.html */

.portfolio-filters {
    padding-top: 94px;
    padding-bottom: 50px;
}

.portfolio__categories {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio__category {
    display: flex;
    align-items: center;
    padding: 6px 22px;
    width: auto;
}

.portfolio__button {
    padding: 6px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.portfolio {
    padding-top: 0;
    padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    justify-content: center;
}

.portfolio-item {
    margin-bottom: 0;
    border: 1px solid var(--color-border);
    flex-basis: calc((100% - 2 * 30px) / 3);

    transition: box-shadow 0.3s ease-in-out;
}

.portfolio__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-item-info {
    padding: 20px 24px;
    border-top: none;
}

.portfolio__title {
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
}

.portfolio__description {
    margin-top: 0;
    padding-left: 24px;
}

/* Pseudoclasses */

.features-item::before {
    background-color: var(--color-team-bg);
}

.features-item:nth-child(1)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 20px;
    background-image: url("../img/antenna.webp");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-item:nth-child(2)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 20px;
    background-image: url("../img/clock.webp");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-item:nth-child(3)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 20px;
    background-image: url("../img/diagram.webp");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-item:nth-child(4)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 20px;
    background-image: url("../img/astronaut.webp");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Shadows */

.team-item {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
}

.portfolio-item:hover {
    box-shadow:
    0px 2px 2px rgba(0, 0, 0, 0.2),
    0px 6px 6px rgba(0, 0, 0, 0.25);
}

.portfolio__category.current,
.portfolio__category:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.35);
}

/* Icons */

.nav-item.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-email {
    width: 16px;
    height: 12px;
    fill: var(--color-text-muted);
    transition: fill 0.3s ease-in-out;
    
}

.icon-smartphone {
    width: 10px;
    height: 16px;
    fill: var(--color-text-muted);
    transition: fill 0.3s ease-in-out;
}

.icon-email:hover,
.icon-smartphone:hover {
    fill: var(--color-button-primary);
}

.contacts-link:hover .icon-email,
.contacts-link:focus .icon-email,
.contacts-link:hover .icon-smartphone,
.contacts-link:focus .icon-smartphone {
    fill: var(--color-button-primary);
    color: var(--color-button-primary);
}