:root {
    /* Logo Colors */
    --brand-color: #2196F3;
    --color-bg-light: #ffffff;
    --color-bg-dark: #000000;

    /* Background Colors */
    --color-hero-bg: #2F303A;
    --color-team-bg: #F5F4FA;
    --color-footer-bg: #2F303A;

    /* Text Colors */
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-text-primary: #212121;
    --color-text-muted: #757575;
    --color-footer-link: #ACACB0;

    /* Button Colors */
    --color-button-primary: #2196F3;
    --color-button-primary-hover: #0056b3;

    /* Font Families */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
}

/* index.html */

/* Header */

.header__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--color-button-primary);
}

.logo-text.dark {
    color: var(--color-text-dark);
}

.nav-link.current {
    color: var(--color-button-primary);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text-primary);
}
.nav-link:hover {
    color: var(--color-button-primary);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text-muted);
}

.contacts-link:hover {
    color: var(--color-button-primary);
}

/* Hero Section */

.hero {
    background-color: var(--color-hero-bg);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text-light);
}

.hero-button {
    border-radius: 4px;
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-text-light);
    background: var(--color-button-primary);
}

/* Features */

.features-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-primary);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-text-muted);
}

/* Activites */

.activities-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.activities-image {
    width: 370px;
    height: 294px;
}

/* Team Section */

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-muted);
}

/* Footer */

.footer {
    background-color: var(--color-footer-bg);
}

.footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-text.light {
    color: var(--color-text-light);
}

.footer-address-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-text-light);
}

.footer-email {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: var(--color-footer-link);
}
.footer-email:hover {
    color: var(--color-button-primary);
}

.footer-phone {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
}
.footer-phone:hover {
    color: var(--color-button-primary);
}