:root {
    /* Logo Colors */
    --brand-color: #2196F3;
    --color-bg-light: #ffffff;
    --color-bg-dark: #000000;

    /* Background Colors */
    --color-hero-bg: #2F303A;
    --color-team-bg: #F5F4FA;
    --color-footer-bg: #2F303A;
    --color-border: #ECECEC;

    /* Text Colors */
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-text-primary: #212121;
    --color-text-muted: #757575;
    --color-footer-link: #ACACB0;

    /* Button Colors */
    --color-button-primary: #2196F3;
    --color-button-primary-hover: #0056b3;
    --color-portfolio-categories: #f5f4fa;

    /* Font Families */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg-light);
    color: var(--color-text-primary);
}

/* index.html */

/* Header */

.header__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--color-button-primary);
}

.logo-text.dark {
    color: var(--color-text-dark);
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    white-space: nowrap;
}

.nav-link.current {
    color: var(--color-button-primary);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text-primary);
}
.nav-link:hover {
    color: var(--color-button-primary);
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text-muted);
}

.contacts-link.current {
    color: var(--brand-color);
}

.contacts-link:hover {
    color: var(--color-button-primary);
}

/* Hero Section */

.hero {
    background-color: var(--color-hero-bg);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text-light);
}

.hero-button {
    border-radius: 4px;
    width: 216px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-text-light);
    background: var(--color-button-primary);
}

/* Features */

.features-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-primary);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-text-muted);
}

/* Activites */

.activities-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.activities-image {
    width: 370px;
    height: 294px;
}

/* Team Section */

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.team-image {
    width: 270px;
    height: 260px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-muted);
}

/* Footer */

.footer {
    background-color: var(--color-footer-bg);
}

.footer-logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-text.light {
    color: var(--color-text-light);
}

.footer-address-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-text-light);
}

.footer-email {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: var(--color-footer-link);
}
.footer-email:hover {
    color: var(--color-button-primary);
}

.footer-phone {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
}
.footer-phone:hover {
    color: var(--color-button-primary);
}

/* Portfolio */



.portfolio__category {
    width: 216px;
    height: 50px;

    border-radius: 4px;
    width: 112px;
    height: 38px;
    background: var(--color-portfolio-categories);

    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-primary);
}
.portfolio__category:hover {
    background: var(--color-button-primary);
    color: var(--color-text-light);
}

.portfolio__category.current {
    background: var(--color-button-primary);
    color: var(--color-text-light);
}

.portfolio-item {
    width: 370px;
    height: 404px;
    border: 1px solid var(--color-border);
}

.portfolio-image {
    width: 370px;
    height: 270px;
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--color-text-primary);
}

.portfolio__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: var(--color-text-muted);
}

/* Containers */

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid tomato;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-border);
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-button {
    font-family : var(--font-family);
    font-size: 16px;
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    text-align: center;
}

.features {
    padding-top: 94px;
}

.activities {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio-buttton {
    display: block;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.portfolio-container {
    padding-top: 94px;
    padding-bottom: 50px;
}

.portfolio {
    padding-bottom: 94px;
}




