/* Animations */

@keyframes changeColorToPrimary {
    from {
        color: $color-text-primary;
    }

    to {
        color: $color-button-primary;
    }
}

@keyframes scaleXFull {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes heroButtonHover {
    from {
        background-color: $color-button-primary;
    }

    to {
        background-color: $color-button-primary-hover;
    }
}

@keyframes changeBgToPrimary {
    from {
        background-color: $color-bg-light;
    }

    to {
        background-color: $brand-color;
    }
}

@keyframes changeFillToWhite {
    from {
        fill: $color-icon-muted;
    }

    to {
        fill: $color-text-light;
    }
}

@keyframes changeBorderToBrand {
    from {
        border-color: $customer-color;
    }

    to {
        border-color: $brand-color;
    }
}

@keyframes changeFillToBrand {
    from {
        fill: $customer-color;
    }

    to {
        fill: $brand-color;
    }
}

@keyframes changeColorToAccent {
    from {
        color: $color-footer-link;
    }

    to {
        color: $accent-color;
    }
}

@keyframes portfolioCategoryHover {
    from {
        background-color: $color-portfolio-categories;
        color: $color-text-primary;
    }

    to {
        background-color: $brand-color;
        color: $color-text-light;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes addPortfolioShadow {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.25);
    }
}

@keyframes addCategoryShadow {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.35);
    }
}

@keyframes changeFillToPrimary {
    from {
        fill: $color-text-muted;
    }

    to {
        fill: $color-button-primary;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes changeFillToAccent {
    from {
        fill: $color-text-dark;
    }

    to {
        fill: $accent-color;
    }
}

@keyframes changeBorderToAccent {
    from {
        border-color: rgba($color-text-primary, 0.2);
    }

    to {
        border-color: $accent-color;
    }
}