:root {
    --accent-color: #2196F3;

    /* Logo Colors */
    --brand-color: #2196F3;
    --color-bg-light: #ffffff;
    --color-bg-dark: #000000;

    /* Background Colors */
    --color-hero-bg: #2F303A;
    --color-team-bg: #F5F4FA;
    --color-footer-bg: #2F303A;
    --color-border: #ECECEC;

    /* Text Colors */
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-text-primary: #212121;
    --color-text-muted: #757575;
    --color-footer-link: #ACACB0;

    /* Icons Muted Color */
    --color-icon-muted: #AFB1B8;
    --customer-color: #AFB1B8;

    /* Button Colors */
    --color-button-primary: #2196F3;
    --color-button-primary-hover: #0056b3;
    --color-portfolio-categories: #f5f4fa;

    /* Font Families */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}