:root {
    --accent-color: #2196F3;

    /* Logo Colors */
    --brand-color: #2196F3;
    --color-bg-light: #ffffff;
    --color-bg-dark: #000000;

    /* Background Colors */
    --color-hero-bg: #2F303A;
    --color-team-bg: #F5F4FA;
    --color-footer-bg: #2F303A;
    --color-border: #ECECEC;

    /* Text Colors */
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-text-primary: #212121;
    --color-text-muted: #757575;
    --color-footer-link: #ACACB0;

    /* Icons */
    --color-icon-muted: #AFB1B8;
    --customer-color: #AFB1B8;

    /* Buttons */
    --color-button-primary: #2196F3;
    --color-button-primary-hover: #0056b3;
    --color-portfolio-categories: #f5f4fa;

    /* Fonts */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

// SASS-змінні

// Colors
$color-primary: #2196f3;
$color-secondary: #212121;
$color-accent: #757575;

$color-bg-light: #ffffff;
$color-bg-dark: #2f303a;
$color-border: #ececec;

$color-team-bg: #f5f4fa;
$color-icon-muted: #afb1b8;
$color-footer-link: rgba(255, 255, 255, 0.6);

// Fonts
$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;