.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid $border-header;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.header__contacts-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-secondary;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color $transition-duration $transition-timing-function;

    &:hover {
        animation: changeColorToPrimary $transition-duration $transition-timing-function forwards;
    }

    &:hover .header__contacts-icon {
        animation: changeFillToPrimary $transition-duration $transition-timing-function forwards;
    }
}

.header__contacts-icon {
    width: 18px;
    height: 18px;
    fill: $text-secondary;
    transition: fill $transition-duration $transition-timing-function;
}