.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid $border-header;
}

.header__container {
    @include flex-settings($align: center);
}

.header__contacts {
    @include flex-settings($gap: 50px);
    margin-left: auto;
}

.header__contacts-link {
    @include flex-settings($align: center, $gap: 10px);
    @include transition(color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-secondary;

    &:hover {
        @include animation(changeColorToPrimary);
    }

    &:hover .header__contacts-icon {
        @include animation(changeFillToPrimary);
    }
}

.header__contacts-icon {
    @include transition(fill);
    width: 18px;
    height: 18px;
    fill: $text-secondary;
}