.features {
    @extend %section-padding;
}

.features__list {
    @include flex-settings($gap: 30px);
}

.features__subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-primary;
    margin-bottom: 10px;
}

.features__text {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $text-secondary;
}

.features__item:nth-child(1)::before {
    @include feature-icon("../img/antenna.webp");
}

.features__item:nth-child(2)::before {
    @include feature-icon("../img/clock.webp");
}

.features__item:nth-child(3)::before {
    @include feature-icon("../img/diagram.webp");
}

.features__item:nth-child(4)::before {
    @include feature-icon("../img/astronaut.webp");
}