.features {
    padding: 94px 0;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        flex-basis: calc((100% - 90px) / 4);

        &::before {
            content: '';
            display: block;
            height: 120px;
            margin-bottom: 30px;
            background-color: $color-team-bg;
            background-size: 70px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:nth-child(1)::before {
            background-image: url('../img/antenna.webp');
        }

        &:nth-child(2)::before {
            background-image: url('../img/clock.webp');
        }

        &:nth-child(3)::before {
            background-image: url('../img/diagram.webp');
        }

        &:nth-child(4)::before {
            background-image: url('../img/astronaut.webp');
        }
    }

    &__subtitle {
        font-weight: $fw-bold;
        font-size: 14px;
        text-transform: uppercase;
        color: $color-secondary;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: $color-accent;
    }
}