.customers {
    padding: 94px 0;

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        border: 1px solid $color-icon-muted;
        border-radius: 4px;
        transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: $color-primary;

            .customers__icon {
                fill: $color-primary;
            }
        }
    }

    &__icon {
        fill: $color-icon-muted;
        transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }
}