.footer {
    background-color: $bg-footer;
    padding: 60px 0;
    color: $text-light;
}

.footer__container {
    @include flex-settings($align: baseline, $gap: 94px);
}

.footer__address {
    font-size: 14px;
    line-height: 1.71;
    color: $text-light;
    padding-top: 20px;
}

.footer__link {
    @include transition(color);
    display: block;
    font-size: 14px;
    line-height: 1.71;
    color: $text-footer-link;
    margin-top: 9px;

    &:hover {
        @include animation(changeColorToAccent);
    }
}

.footer__subtitle {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-light;
    margin-bottom: 20px;
}

.subscribe-form {
    @include flex-settings($align: center, $gap: 12px);
}

.subscribe-form__input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    padding: 15px 16px;
    outline: none;
    font-size: 16px;
    line-height: 1.25;
    color: $text-light;

    &:focus {
        @include animation(changeBorderToBrand);
    }
}

.subscribe-form__icon {
    fill: $text-light;
}