.filters {
    padding-top: 94px;
    padding-bottom: 50px;
}

.filters__list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio {
    padding-bottom: 94px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    border: 1px solid $border-header;
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow $transition-duration $transition-timing-function;

    &:hover {
        animation: addPortfolioShadow $transition-duration $transition-timing-function forwards;
    }

    &:hover .portfolio__overlay {
        animation: slideInFromBottom $transition-duration $transition-timing-function forwards;
    }
}

.portfolio__link {
    display: block;
    height: 100%;
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform $transition-duration $transition-timing-function;
}

.portfolio__overlay-text {
    font-size: 18px;
    line-height: 1.5;
    color: $text-light;
}

.portfolio__content {
    padding: 20px 24px;
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: $text-primary;
    margin-bottom: 4px;
}

.portfolio__category {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $text-secondary;
}