.customers {
    padding: 94px 0;
}

.section_title {
    margin-bottom: 50px;
    @include text-style(700, 36px, 1.17, 0.03em, $color-text-primary);
    text-align: center;
}

.customers_list {
    @include flex-center(30px);
}

.customers_link {
    @include flex-center;
    height: 92px;
    flex-basis: calc((100% - 150px) / 6);
    border: 1px solid $customer-color;
    border-radius: 4px;
    color: $customer-color;
    @include transition(border-color, color);

    &:hover,
    &:focus {
        border-color: $brand-color;
        color: $brand-color;
    }
}

.customers_icon {
    fill: currentColor;
}