.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid $color-border;
}

.header>.container {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    gap: 50px;
}

.contacts-link {
    @include flex-center(10px);
    @include text-style(500, 14px, 1.14, 0.02em, $color-text-muted);
    @include transition(color);

    &:hover,
    &:focus {
        color: $accent-color;

        .icon-email,
        .icon-smartphone {
            fill: $accent-color;
        }
    }
}

.icon-email,
.icon-smartphone {
    fill: currentColor;
    @include transition(fill);
}

.icon-email {
    width: 16px;
    height: 12px;
}

.icon-smartphone {
    width: 10px;
    height: 16px;
}