.hero-button {
    padding: 10px 32px;
    @include button-style($bg: $brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
        background-color: $color-button-primary-hover;
    }
}

.subscribe-button {
    padding: 10px 28px;
    @include button-style($bg: $brand-color);
    gap: 10px;

    &:hover,
    &:focus {
        background-color: $color-button-primary-hover;
    }
}

.subscribe-icon {
    fill: currentColor;
}

.portfolio__category {
    padding: 6px 22px;
    @include button-style($bg: $color-portfolio-categories, $color: $color-text-primary);
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    &:hover,
    &:focus,
    &.current {
        background-color: $brand-color;
        color: $color-text-light;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $color-bg-light;
    @include flex-center;
    cursor: pointer;

    .modal-close-icon {
        @include transition(fill);
    }

    &:hover .modal-close-icon,
    &:focus .modal-close-icon {
        fill: $accent-color;
    }
}

.form-submit {
    padding: 10px 55px;
    @include button-style($bg: #188ce8);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    line-height: 1.87;

    &:hover,
    &:focus {
        background-color: #1976D2;
    }
}