.header__logo,
.footer__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--color-button-primary);
}

.logo-text.dark {
    color: var(--color-text-dark);
}

.logo-text.light {
    color: var(--color-text-light);
}