.logo {
    font-family: $second-family;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.header__logo {
    margin-right: 93px;
}

.logo-accent {
    color: $brand-color;
}

.logo-text.dark {
    color: $color-text-dark;
}

.logo-text.light {
    color: $color-text-light;
}