.logo {
    font-family: $font-logo;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    text-decoration: none;
    display: inline-block;
}

.logo__accent {
    color: $brand-color;
}

.logo__text--dark {
    color: $text-dark;
}

.logo__text--light {
    color: $text-light;
}