body {
    font-family: $font-primary;
    background-color: $bg-light;
    color: $text-primary;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}